@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,700&family=Lexend+Deca&display=swap');

.big-shoulders-font {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.lexend-deca-font {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*@font-face{
    font-family: "Lexend Deca";
    src: url(./font/lexend/LexendDeca-VariableFont_wght.ttf);
}

@font-face{
    font-family: "Big Shoulders";
    src: url(./font/BigShoulders-VariableFont_opsz,wght.ttf);
}*/

*{
    box-sizing: border-box;
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --back: hsl(181, 49%, 90%);
    --grey : hsl(5,0,60%);
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--back);
}

body{
    display: flex;
    flex-direction: column;
    height: 98vh;
    align-items: center;
}

main{
    flex-grow:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.container{
    display:flex;
    flex-direction:column;
    max-width:900px;
    overflow: hidden;
}

.item{
    display:flex;
    flex-direction: column;
    
    padding: 20px 40px;
    align-self:center;
    justify-content: start;
}

.item > img{
    width:45px;
    height: auto;
}

div:nth-child(1){
    background-color: var(--bright-orange);
}
div:nth-child(2) {
    background-color: var(--dark-cyan);
}
div:nth-child(3) {
    background-color: var(--very-dark-cyan);
}

p{
    line-height: 1.8em;
    font-size: 1.2em;
    color: hsla(0,0%,100%, 0.75);
}

h1{
    color: var(--grey);
    padding-left:40px;
}

h2{
    text-transform: uppercase;
    font-size: 3em;
    color:hsl(0,0%,100%);
    margin-bottom: 5px;
}

.button-learn{
    padding: 10px 20px;
    margin-top: 40px;
    align-self: start;
    font-size: 18px;
    border: 2px solid white;
    background-color: white;
    border-radius: 30px;
}

.button-learn:hover{
   color:white;
   cursor:pointer;
   background-color: transparent;
}

.b1{
    color: var(--bright-orange);
}


.b2{
    color: var(--dark-cyan);
}


.b3{
    color: var(--very-dark-cyan);
}



@media only screen and (min-width: 680px){
    .container{
        flex-direction: row;
        border-radius: 16px;
    }
    h1{
        text-align: center;
        padding-left: 0;
    }
}
